body{
    background-color: black;
}
main{
    background-image: linear-gradient(145deg, rgba(1,0,23,1) 0%, rgba(47,0,91,1) 100%);
    color: white;
    padding: 20px;
    background-color: whitesmoke;
    width: 50%;
    margin: 3em auto 0 auto;
    border-radius: 50px;
    text-align: center;
    min-width: 330px;
}
#nTitulo{
    text-align: center;
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
}
#edTitulo{
    display: none;
    margin: auto;
    float: left;
    text-align: center;
    width: 100%;
}
#mosTitulo:hover #edTitulo{
    display: block;
}
#listaP li:hover img{
    display: inline-block;
}
#listaP li:hover{
    background: lightblue;
}
#listaP li, #listaS li{
    border: 1px black solid;
    box-shadow: 1px 1px 5px black;
    word-break:break-all;
    padding: 5px 10px;
    display: flex;
    margin-bottom: 10px;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    color: black;
    text-align: left;
}
#listaP li img{
    display: none;
    height: 15px;
    width: 15px;
}
ol{
    margin-left: 10%;
    margin-right: 10%;
    list-style-position: outside;
    padding: 0;
}
.mostrarDel{
    display: block;
}
.espaco{
    margin-top: 10px;
}
#botoesSorteio button{
    margin-top: 1em;
    width: 255px;
}
#inputadcPessoa{
    text-align: center;
}
footer{
    text-align: center;
    margin-top: 5em;
    font-size: 0.8em;
}
footer a{
    color: whitesmoke;
    text-decoration: none;
}
footer a:-webkit-any-link{
    text-decoration: none;
}
